/* 
  Style your elements by creating CSS classes here.
  Below, you can see an example of a class called "menu" that changes the color of the text to blue. Modify according to your needs.
*/

.menu {
  color: blue;
}
.mainTitleContainer {
  text-align: center;
}
.logoImage {
  width: 90%;
  padding: 1em;
}

.sloganText {
  font-family: cursive;
  color: #2058df;
  padding-top: 1em;
}
.underneathSlogan {
  font-family: serif;
  color: grey;
  padding-bottom: 1em;
}